body {
    background-color: black;
    color: #e6e3e7;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

header {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.controls {
    position: absolute;
    width: 20%;
    height: 80%;
    top: 5%;
    padding: 15px;
    border-radius: 5px;
    z-index: 2;
}

#menu {
	position: fixed;
	width: 200px;
	height: 200px;
	display: none;
	background-color: grey;
}

.option {
	background-color: red;
}
.option:hover {
	background-color: purple;
}

.controls select {
    width: 100%;
}

.left {
    left: 1%;
}

.right {
    left: 75%;
}

ul#modifierList {
    list-style-type: none;
    padding: 10% 0;
}

ul#modifierList > li.descriptor {
    text-align: center;
    padding: 3px 0;
    font-size: 18px;
}

ul#modifierList > li.control {
    padding: 5px 0 20px;
}